version: 1
config:
  - type: physical
    name: eth0
    subnets:
      - type: static
        address: {{ ansibleNetIP }}{{ vmNum }}
        netmask: {{ ansibleNetMask }}
        gateway: {{ ansibleNetGW }}
        dns_nameservers: 8.8.8.8
