#cloud-config

# Hostname management
preserve_hostname: False
hostname: {{ vmNameTempl }}{{ vmNum }}
fqdn: {{ vmNameTempl }}{{ vmNum }}.local

# Users
users:
  - name: {{ localUser }}
    groups: ['wheel']
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
      - {{ pubKey }}

# Configure log output
output:
  all: ">> /var/log/cloud-init.log"

# configure interaction with ssh server
ssh_genkeytypes: ['ed25519', 'rsa']

# set timezone for VM
timezone: {{ timeZone }}

# Install wget (Python for ansible is already installed)
runcmd:
  - yum -y install wget
