global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

  option forwardfor
	option forwardfor header X-Real-IP
	option http-server-close

frontend wordpress.front
	bind {{ ansible_default_ipv4.address }}:80 alpn h2,http/1.1

	capture request header Host len 100
	capture request header Referer len 100

	default_backend wordpress.back

backend wordpress.back

	balance leastconn

	option httpchk HEAD /wp-login.php HTTP/1.1\r\nUser-Agent:\ HAProxy
	option httpclose
	option forwardfor except 127.0.0.1

	option log-health-checks
