<network>
  <name>{{ ansibleNetwork }}</name>
  <forward mode='nat'/>
  <bridge name='{{ ansibleBridge }}' stp='on' delay='0'/>
  <ip address='{{ ansibleNetIP }}' netmask='{{ ansibleNetMask }}'/>
</network>
